<ul>
  <li><b>Nome: </b><%= morador.nome %></li>
  <li><b>ID: </b><%= morador.id %></li>
  <li><b>CPF: </b><%= formatar_cpf(morador.cpf) %></li>
  <li><b>Celular: </b><%= morador.celular %></li>
  <li><b>Bloco: </b><%= morador.bloco %></li>
  <li><b>Apartamento: </b><%= morador.apartamento %></li>
</ul>
